<mat-toolbar class="site-header">
    <button mat-icon-button [matMenuTriggerFor]="userMenu" class="menu-button">
        <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/" class="logo">OnoAir</a>

    <!-- User and Admin Menus -->
    <mat-menu #userMenu="matMenu">
        <!-- User Menu -->
        <button mat-menu-item [matMenuTriggerFor]="userSubMenu">User</button>
        <mat-menu #userSubMenu="matMenu">
            <button mat-menu-item routerLink="/book-flights-page">Book a Flight</button>
            <button mat-menu-item routerLink="/my-bookings">My Reservations</button>
        </mat-menu>

        <!-- Admin Menu -->
        <button mat-menu-item [matMenuTriggerFor]="adminSubMenu">Admin</button>
        <mat-menu #adminSubMenu="matMenu">
            <button mat-menu-item routerLink='manage-flights'>Manage Flights</button>
            <button mat-menu-item routerLink="/manage-destinations">Manage Destinations</button>
        </mat-menu>
    </mat-menu>
</mat-toolbar>
