<main>
  <div class="container">
    <mat-card class="help-content">
      <h1 mat-card-title>Welcome to the OnoAir Help Page</h1>
      <mat-card-content>
        <p><span class="bold">manage flights:</span> In this page you can view the flights and add new flights.</p>
        <p><span class="bold">manage destinations:</span> In this page you can view the destinations and add destinations.</p>
        <p><span class="bold">search flights:</span> In this page you can filter the flights according to desired destination and origin place, and book the desired flight.</p>
        <p><span class="bold">my bookings:</span> In this page you can view your future and past bookings.</p>
      </mat-card-content>
    </mat-card>
  </div>
</main>
