<main>
  <div class="container">
    <mat-card class="help-content">
      <h1 mat-card-title>Welcome to the OnoAir Help Page</h1>
      <mat-card-content>
        <p><span class="bold">Home page:</span> In this page you can view the last minute flights and the future flights, where you can filter according to your desired dates/origin/destination.</p>
        
        <p><span class="bold">Admin:</span></p>
        <p><span class="bold">Manage flights:</span> In this page you can view the flights and go to a specific <span class="bold">Flight Page</span>.</p>
        <p><span class="bold">Manage destinations:</span> In this page you can view the destinations and go to a specific <span class="bold">Destination page</span>.</p>
        
        <p><span class="bold">User:</span></p>
        <p><span class="bold">Book a flight:</span> In this page you can view the future flights and filter the flights according to desired dates/origin/destination, and book the desired flight - go to the <span class="bold">Book flight page</span>.</p>
        <p><span class="bold">My reservations:</span> In this page you can view your future and past bookings and go to the <span class="bold">Reservation details page</span>.</p>
      </mat-card-content>
    </mat-card>
  </div>
</main>